body {
  background: #333;
  color: #000;
  text-align: center;
}
article {
  width: 80%;
  margin: 2em auto;
  text-align: justify;
  background: #eee;
  padding: 0.5em 1em;
}
h1 {
  color: #eee;
}
h2{color:#fff;border:0;}
h2 a {color:inherit}
article h2 {
  border-bottom: 3px solid #ccc;
<<<<<<< HEAD
<<<<<<< HEAD
  color:#000;
=======
>>>>>>> master
=======
  color:#000;
>>>>>>> master
}

