/* Flat github ribbon */
@import 'http://codepen.io/TimPietrusky/pen/ysqrg.css'; 
.ribbon{position:fixed}
/**/


body {
  background: #333;
  color: #000;
  text-align: center;
}
article {
  width: 80%;
margin: 2em 10%;
text-align: justify;
background: #eee;
padding: 0.5em 1em;
float: left;
}
ul{  
  display:block;
  float: left; 
  width: 80%;
  margin: .5em 10%;
}
h1 {
  color: #eee;
}
h2{
  color:#fff;
  border:0;
}
h2 a {
  color:inherit;
  text-decoration:none; 
  border-bottom:1px dotted;
}
h2 a:hover{
  color:#3498db;
}
article h2 {
  border-bottom: 3px solid #ccc;
  color:#000;
}

ul li{
  display:block;
  float:left;
  padding:.5em;
  min-width:5em;
  width:auto;
  margin:.4em;
  cursor:pointer;
  background:#ecf0f1;
}
ul li:first-child{
margin-left: -2.5em;
}
ul li a {color:#000;text-decoration: none}
ul li:hover{
  background:#3498db;
  color:#ECF0FA;
}
ul li:hover a{
  color:#ECF0FA;
}
