body {
  background: #333;
  color: #000;
  text-align: center;
}
article {
  width: 80%;
  margin: 2em auto;
  text-align: justify;
  background: #eee;
  padding: 0.5em 1em;
  float:left;
}
ul{  
  display:block;
  width: 80%;
  margin:2em auto;
}
h1 {
  color: #eee;
}
h2{
  color:#fff;
  border:0;
}
h2 a {
  color:inherit
}

article h2 {
  border-bottom: 3px solid #ccc;
  color:#000;
}

ul li{
  display:block;
  float:left;
  padding:.5em;
  min-width:5em;
  width:auto;
  margin:.4em;
  cursor:pointer;
  background:#ecf0f1;
}
ul li:hover{
  background:#3498db;
  color:#ECF0FA;
}